/* ----------Variables----------- */
:root {
--green-color:#7ACC2D;
--white-color:white;
--black-color:black;
/* Tipografia */
--normal:12px;
/* Espaciado */
--space:10px;
/* Box shadow */
--box:0px 3px 6px #00000029;
}
/* ----------Variables----------- */

html,
body {
  margin: 0px;
  padding: 0px;
  font-size: var(--normal);
  font-family: 'Open Sans', sans-serif;
}

nav {
  display: flex;
  background-color: var(--green-color);
  padding: var(--space);
  color: var(--white-color);
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--box);
}
nav ul {
  display: flex;
}
nav li {
  padding-left: 20px;
  list-style: none;
}

nav li a{
  color: var(--black-color);
  text-decoration: none;
}
nav li a:hover {
  color: var(--white-color);
  text-decoration: underline;
}
/* -------------------- Main Section -------------------*/

.main_section {
  padding: 15%;
  text-align: center;
}
.products {
  background-image: url("../images/curve.png");
  max-height: 50px;
  background-size: cover;
  background-position: center top;
  padding: 20%;
  display: flex;
  justify-content: center;
}

.product {
  padding: var(--space);
  margin-top: -240px;
}
.product .content{
  background-color: var(--white-color);
  padding: 15px;
  box-shadow: var(--box);
  border-radius: var(--space);
}
.image_content {
  text-align: center;
}

.main_bottom {
  background-color: var(--green-color);
  width: 100%;
  padding: var(--space);
  font-size: var(--normal);
  color: var(--white-color);
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.main_bottom:hover {
  background-color: #5E9E22;
}

/* middle Section */
.middle_section {
  padding-top: 50px;
  padding-bottom: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  box-shadow: 0px 1px 2px #00000029;
}

.middle {
  display: flex;
  padding: var(--space);
  margin: 30px;
}

.middle .middle_info {
  height: 240px;
  width: 190px;
  padding: 15px;
  text-align: center;
}
.middle_info h3 {
  font-size: 17px;
}
.middle_info > p {
  font-size: var(--normal);
  text-align: left;
}
/* .middle img {
  height: 140px;
} */

/* ----------------mentions------------ */
.mentions_section {
  width: 100%;
  position: relative;
}
.mentions_section h2 {
  text-align: center;
  font-size: 30px;
  margin-top: 80px;
}
.mentions_container {
  /* white-space: nowrap; */
  margin: 40px 0px;
  padding-bottom: 10px;
  display: flex; 
  justify-content: center;
}
.mentions_content {
  /* outline: 1px solid red; */
  width: 230px;
  height: 190px;
  display: inline-block;
  margin: 5px;
  text-align: left;
  border-radius: 5px;
  box-shadow: var(--box);
}
.mention_image {
  width: 230px;
  height: 105px;
  border-radius: 2px;
  overflow: hidden;
}
.mentions__item-img {
  width: 230px;
  height: 105px;
  object-fit: cover;
}

.mentions_description {
  margin-left: 10px;
  margin-right: 10px;
  flex-direction: column;
  width: 220px;
  display: flex;
  flex-direction: column;
}

.mentions_tittle {
  font-size: 17px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.mentions_subtittle {
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* --------Footer-------- */
footer {
  background-color: #313337;
  padding: 5px;
  color: white;
}
footer ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 15px;
  padding-left: 15px;
  list-style: none;
}
footer li {
  list-style: none;
}

footer li a{
  color: var(--white-color);
  text-decoration: none;
}
footer li a:hover{
  text-decoration: none;
}




