:root{
  /*------ Colores */
  --green-color: #7ACC2D;
  --black-color: #313337;
  --white-color: white;
  /*------ Tipografía */
  --normal:12px;
  /*------ Espaciado */
  --space:10px;
  --space-2:20px;
  /*------ Box shadow*/
  --box:0px 0 2px 1px #e6e5e9;
}
.container {
  padding-top: 100px;
}
.modulo_pago {
  background-color: var(--white-color);
  box-shadow: var(--box);
  padding: var(--space-2);
}

.modulo_pago-images {
  max-width: 150px;
  text-align: center;
  width: 100%;
  margin: auto;
}

label {
  display: block;
  margin: 10px 0;
  font-size: 12px;
}

.data {
  width: 100%;
  height: 35px;
  padding: 5px;
  border-radius: 2px;
  border: 1px solid var(--black-color);
  outline: none;
  box-sizing: border-box;
}

.modulo_pago .main_bottom {
  margin-top: 10px;
}
